<h2>Catálogo de Produto</h2>
<table>
  <tr>
    <td><label for="id">ID</label></td>
    <td><p-inputnumber inputId="id" [(ngModel)]="id" /></td>
  </tr>
  <tr>
    <td><label for="nome">Nome</label></td>
    <td><input pInputText id="username" aria-describedby="username-help" [(ngModel)]="nome" /></td>
  </tr>
  <tr>
    <td><label for="preco">Preço</label></td>
    <td><p-inputnumber inputId="preco" [(ngModel)]="preco" /></td>
  </tr>
  <tr>
    <td><label for="Categoria">Categoria</label></td>
    <td><input pInputText id="username" aria-describedby="username-help" [(ngModel)]="categoria" /></td>
  </tr>
  <td colspan="4"><p-button> <label for="teste" (click)="onIncluir()">Adicionar</label></p-button></td>
</table>

<p-table [value]="catalogo.produtos" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template #header>
      <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Preço</th>
          <th>Categoria</th>
      </tr>
  </ng-template>
  <ng-template #body let-produto>
      <tr>
          <td>{{ produto.id }}</td>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.preco }}</td>
          <td>{{ produto.categoria}}</td>
      </tr>
  </ng-template>
  <tr>
    <td colspan="4">Nenhum produto cadastrado</td>
  </tr>
</p-table>